<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      __conv.name__
    </div>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <app-message
        *ngFor="let m of messages"
        [message]="m">
      </app-message>
    </div>
  </div>
</div>

<form>
  <label for="newmessage">New message: </label>
  <textarea id="newmessage" class="form-control" rows="5" placeholder="..." #msg></textarea>
  <br />
  <button type="submit" class="btn btn-primary send-button" (click)=onSend()>Send</button>
</form>

<button class="btn btn-primary" (click)="onGet()">update</button>
